%h1 Recommendation Debug
%h2
  = link_to 'Root', recommendation.root_path
  = '>'
  = link_to @model.name, "#{recommendation.root_path}#{@model.name.underscore.pluralize}/"
%h3 Tags
%ul
  - @model.all_tags.each do |tag|
    %li
      %i= tag
      = " - (#{@model.tagged_with(tag).count} records)"
%h3 Records
%table
  %tr
    %th Score
    %th Record
    %th Tags
  - @records.each do |record|
    %tr
      %td= record.popularity_score
      %td
        %i= link_to record.inspect, "#{recommendation.root_path}#{record.class.name.underscore.pluralize}/#{record.id}"
      %td= record.tags_hash
