%h1 Recommendation Debug
%h2= link_to 'Root', recommendation.root_path
- @models.each do |model|
  %h3
    = link_to model.name, "#{recommendation.root_path}#{model.name.underscore.pluralize}/"
    = " (#{model.count} records)"
